<html>
<header>
<title>Air Chat</title>
<link rel="stylesheet" type="text/css" href="bootstrap.css"/>
</header>
<body>
<center>Via Air</center>

<div class="container">
	<div class="row">
		<div class="column"><button class="btn btn-primary">Welcome</button></div>
		<div class="column"><button class="btn btn-success">Service</button></div>
		<div class="column"><button class="btn btn-danger">Help</button></div>
	</div>
</div>

<div class="row" style="padding:10px;" id="tagList">
		<div class="col text-center" id="0"><a href="http://kushrishab.herokuapp.com/chatwindow?tag=Welcome"><button class="btn btn-warning">Welcome</button></a></div>
		<div class="col text-center" id="0"><a href="http://kushrishab.herokuapp.com/chatwindow?tag=Service"><button class="btn btn-warning">Service</button></a></div>
		<div class="col text-center" id="0"><a href="http://kushrishab.herokuapp.com/chatwindow?tag=Help"><button class="btn btn-warning">Help</button></a></div>

	</div>

<center>
<span>
	<h3>&nbsp;&nbsp;Add a tag&nbsp;&nbsp;</h3>
	<input type="text" id="tagging"/>&nbsp;&nbsp;
	<button class="btn btn-primary" onclick="myFunction()">Click me</button>
</span>
</center>

<button onclick="myFunction()">Click me</button>
<script type="text/javascript" src="popper.min.js"></script>
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>